* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform:capitalize;
}
html, body {
    height: 100%; 
    margin: 0; 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.all{
    background-color: #e9d4b4;
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#val, select{
    height: 2rem;
    width: 15rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: #f1ead2;
    border-radius: 5px;
    color: rgb(142,70,70);
    font-size: 0.83rem;
    font-weight: 600;
}
#labels{
    margin-bottom: 6px;
    font-size: 0.9rem;
    color: rgb(142,70,70);

}
#btn {
    background-color:  rgb(142,70,70);
    border-radius: 4.5px;
    color: #f1ead2;
    width: 6rem;
    height: 2rem;
    border: none;
    outline: none;
    transition: transform 0.2s; 
    font-size: 0.9rem;
    font-weight:600;
}

.shrink {
    transform: scale(0.8);
}
#btn:hover{
    color: #f1ead2;
    background-color: rgb(89, 22, 22);
}
h2{
    color: rgb(142,70,70);
}

span{
    color: rgb(142, 70, 70);
    font-size: 1.1rem;
    font-weight: bold;
}
